body{
    margin: 0px !important;
}

.badge-highlighted{
    background-color: #dcdeff !important;
    color: #6a4cff !important;
    padding: 5px !important;
    border-radius: 6px !important;
}

.badge-normal{
    background-color: #dcdeff !important;
    color: #6a4cff !important;
    padding: 5px !important;
    border-radius: 6px !important;
}

/* highlighed card */

.highlighted-card-image{
    min-width: 280px;
    max-width: 300px;
    transform: rotate(-5deg);
}

.highlighted-card-box {
    min-width: 500px;
    max-width: 625px;
    position: relative;
    overflow: hidden; 
    width: 40%;
}

.highlighted-card-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%; 
    z-index: -1; 
    transition: height 0.3s ease; 
    background-color: #eef1ff;
    border-radius: 40px;
}

.highlighted-card-box:hover .highlighted-card-image{
    transform: rotate(0deg);
    transition: 0.3s ease;
}

.highlighted-card-box:hover::before {
    height: 100%;
}


.highlighted-card-add-to-wishlist-btn{
    display: none !important;
}

.highlighted-card-box:hover .highlighted-card-add-to-wishlist-btn{
    display: unset !important;
    transition: 0.3s ease;
}

/* bookCard */

.book-card .book-card-image{
    min-width: 150px;
    max-width: 200px;
    border-radius: 15px;
    max-height: 180px;
}

.book-card {
    position: relative;
    width: 180px;
    padding: 25px;
}

.book-card::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 60%; 
    z-index: -1; 
    transition: height 0.5s ease; 
    background-color: #eef1ff;
    border-radius: 30px;
    top: 0;
}

.book-card:hover::before {
    height: 100%;
    width: 100%;
}

.book-card:hover .highlighted-card-add-to-wishlist-btn{
    display: unset !important;
    transform: 0.5s ease;
}

/* numbered book card */

.numbered-book-card .book-card-image{
    min-width: 150px;
    max-width: 200px;
    border-radius: 15px;
    max-height: 180px;
}

.numbered-book-card::before {
    color: #6a4cff;
    content: attr(id);
    position: relative;
    bottom: -90px;
    right: -25px;
    font-size: 6em;
    z-index: 1;
    font-weight: 700;
    transition: transform 0.5s;
}

.numbered-book-card:hover::before {
    transform: scale(0.01);
    z-index: -1;
}

.numbered-book-card:hover .book-card{
    transform: scale(1.1) translateX(-20px);
    transition: transform 0.5s;
}

/* card list */
.card-list .ant-float-btn-body{
    width: 60px !important;
}

.card-list{
    overflow-y: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* popular series card */
.popular-series-card .popular-series-card-image{
    min-width: 150px;
    max-width: 200px;
    border-radius: 30px;
    max-height: 180px;
}

.popular-series-card{
    width: 180px;
}

.popular-card-selected{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    overflow: visible;
}

.card-list-scroll-selected{
    overflow: visible;
}

.popular-series-card-disabled{
    transform: scale(0.9);
    transition: transform 0.3s ease;
    opacity: 0.5;
}

.popular-series-disabled-btn{
    display: none !important;
}

.popular-series-btn{
    display: unset;
}

.popular-series-line{
    width: 96%;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 30px;
}

#popular-series-list{
    background: rgb(4,23,88);
    background: radial-gradient(circle, rgba(4,23,88,1) 0%, rgba(31,83,136,1) 37%, rgba(0,125,112,1) 100%);
    color: #eef1ff;
    padding: 20px;
}