.badge-highlighted{
    background-color: #dcdeff !important;
    color: #6a4cff !important;
    padding: 5px !important;
    border-radius: 6px !important;
}

.badge-normal{
    background-color: #dcdeff !important;
    color: #6a4cff !important;
    padding: 5px !important;
    border-radius: 6px !important;
}

/* highlighed card */

.highlighted-card-image{
    min-width: 280px;
    max-width: 300px;
    transform: rotate(-5deg);
}

.highlighted-card-box {
    min-width: 500px;
    max-width: 625px;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    width: 40%;
}

.highlighted-card-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%; /* Set the initial height for the background color box */
    z-index: -1; /* Send the pseudo-element to the back */
    transition: height 0.3s ease; /* Add transition for smooth height change */
    background-color: #eef1ff;
    border-radius: 40px;
}

.highlighted-card-box:hover .highlighted-card-image{
    transform: rotate(0deg);
    transition: 0.3s ease;
}

.highlighted-card-box:hover::before {
    height: 100%; /* Set the desired height for the background color box on hover */
}


.highlighted-card-add-to-wishlist-btn{
    display: none !important;
}

.highlighted-card-box:hover .highlighted-card-add-to-wishlist-btn{
    display: unset !important;
    transition: 0.3s ease;
}

/* bookCard */

.book-card .book-card-image{
    min-width: 150px;
    max-width: 200px;
    border-radius: 15px;
    max-height: 180px;
}

.book-card {
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    width: 180px;
    padding: 10px;
    padding-bottom: 15px;
}

.book-card::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 60%; /* Set the initial height for the background color box */
    z-index: -1; /* Send the pseudo-element to the back */
    transition: height 0.5s ease; /* Add transition for smooth height change */
    background-color: #eef1ff;
    border-radius: 30px;
    top: 0;
}

.book-card:hover::before {
    height: 100%; /* Set the desired height for the background color box on hover */
    width: 100%;
}

.book-card:hover .highlighted-card-add-to-wishlist-btn{
    display: unset !important;
    transform: 0.5s ease;
}

/* numbered book card */

.numbered-book-card .book-card-image{
    min-width: 150px;
    max-width: 200px;
    border-radius: 15px;
    max-height: 180px;
}

.numbered-book-card::before {
    color: #6a4cff;
    content: attr(id);
    position: relative;
    bottom: -90px;
    right: -25px;
    font-size: 6em;
    z-index: 1;
    font-weight: 700;
    transition: transform 0.5s;
}

.numbered-book-card:hover::before {
    transform: scale(0.01);
    z-index: -1;
}

.numbered-book-card:hover .book-card{
    transform: scale(1.1) translateX(-20px);
    transition: transform 0.5s;
}

/* card list */
.card-list .ant-float-btn-body{
    width: 60px !important;
}

.card-list{
    overflow-y: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}